<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>
  <appSettings>
    <add key="workFile" value="c:\\cellsTest.txt" />
    <add key="outputFileForPlayer" value="c:\\cellsTestPlayer.txt" />
  </appSettings>
</configuration>